---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
	avatar: CollectionEntry<"blogs">["data"]["avatar"];
	author: CollectionEntry<"blogs">["data"]["author"];
	publishedDate: CollectionEntry<"blogs">["data"]["publishedDate"];
	wordCount: number;
}

const { avatar, author, publishedDate, wordCount } = Astro.props;
const totalTimeToRead = Math.ceil(wordCount / 200);
const totalTimeToSkim = Math.ceil(wordCount / 500);
---

<div
	class="text-muted/75 info-list my-4 flex flex-wrap items-center justify-center space-x-2 text-sm"
>
	<div class="flex items-center gap-1">
		{
			avatar && (
				<Image
					src={avatar}
					alt={`Avatar of ${author}`}
					width={avatar.width}
					height={avatar.height}
					class="inline-block h-6 w-6 rounded-full object-cover align-middle"
				/>
			)
		}
		{author}
	</div>
	<time datetime={publishedDate}>
		Published on {publishedDate}
	</time>
	<p>
		{totalTimeToSkim} min read ({totalTimeToRead} min read total)
	</p>
</div>
